@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.rgbKineticSlider {
  display: flex;
}
.rgbKineticSlider canvas {
  width: 100% !important;
  height: 100vh !important;
  transform: scale(1) !important;
}

.slider-nav {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 6rem;
  justify-content: space-around;
}
.slider-nav .main-nav {
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}
.slider-nav .main-nav:hover {
  cursor: pointer;
}
.slider-nav .main-nav.active {
  background: white;
}

.main-CTA {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
  border-radius: 79px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main-CTA:hover {
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 2vh;
}
.header-wrapper .menu-wrapper {
  position: relative;
  margin-left: 2rem;
}
.header-wrapper .menu-wrapper .hamburger {
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1 rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper .menu-wrapper .hamburger > div {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70%;
  height: 2px;
  background: #ffffff;
  transition: all 0.4s ease;
  z-index: 3;
}
.header-wrapper .menu-wrapper .hamburger > div::before, .header-wrapper .menu-wrapper .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.header-wrapper .menu-wrapper .hamburger > div::after {
  top: 10px;
}
.header-wrapper .menu-wrapper .menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.header-wrapper .menu-wrapper .menu-items {
  visibility: visible;
  display: flex;
  position: relative;
}
.header-wrapper .menu-wrapper .menu-items #circle-animation {
  position: fixed;
  top: -20px;
  left: -10px;
  width: 1rem;
  height: 1rem;
  background-color: #1FE1E9;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: all 1s;
}
.header-wrapper .menu-wrapper .menu-items #list-animation {
  position: absolute;
  top: 30%;
  white-space: nowrap;
}
.header-wrapper .menu-wrapper .menu-items li {
  list-style: none;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
}
.header-wrapper .menu-wrapper .menu-items li :hover {
  color: black;
  cursor: pointer;
}
.header-wrapper .menu-wrapper .menu-items li a {
  color: white;
  text-decoration: none;
}
.header-wrapper .menu-wrapper .menu-toggle:checked ~ .menu-items #circle-animation {
  transform: scale(50, 50);
  transition: all 1s;
}
.header-wrapper .menu-wrapper .menu-toggle:checked ~ .menu-items li {
  animation-name: animateList;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.header-wrapper .menu-wrapper .menu-toggle:checked ~ .menu-items li:nth-child(1) {
  animation-delay: 200ms;
}
.header-wrapper .menu-wrapper .menu-toggle:checked ~ .menu-items li:nth-child(2) {
  animation-delay: 400ms;
}
.header-wrapper .menu-wrapper .menu-toggle:checked ~ .menu-items li:nth-child(3) {
  animation-delay: 600ms;
}
.header-wrapper .menu-wrapper .menu-toggle:checked ~ .menu-items li + li {
  margin-top: 1rem;
}
.header-wrapper .site-title {
  flex-basis: 85%;
  margin-left: 1rem;
  z-index: 4;
}
.header-wrapper .site-title h2 {
  color: white;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}
.header-wrapper .header-CTA {
  visibility: hidden;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 79px;
  border: 2px solid white;
  opacity: 1;
  padding: 0.5em 2em;
  outline: none;
  margin-right: 1rem;
  cursor: pointer;
}
.header-wrapper .header-CTA span {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.8px;
  opacity: 1;
  white-space: nowrap;
}
.header-wrapper .header-CTA.active {
  visibility: visible;
}
.header-wrapper .header-CTA.active.red span {
  color: #D1346E;
}
.header-wrapper .header-CTA.active.yellow span {
  color: #FFB33F;
}
.header-wrapper .header-CTA.active.black {
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
}
.header-wrapper .header-CTA.active.black span {
  color: white;
}

@keyframes animateList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=hero.css.map */
