@import './_colors';
@import './_typography';

.rgbKineticSlider{
  display: flex;

  canvas {
    width: 100%!important;
    height: 100vh!important;
    transform: scale(1)!important;
  }

}

.slider-nav {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 6rem;
  justify-content: space-around;

  .main-nav {  
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    
    &:hover{
      cursor:pointer;
    }

    &.active{
      background: white;
    }
  }
}




